cmsplugin-filer
Django==3.0
django-appconf
django-classy-tags
django-cms
django-compressor
django-filer
django-formtools
django-mptt
django-polymorphic
django-redis
django-sekizai
django-treebeard
djangocms-bootstrap4
djangocms-admin-style
djangocms-attributes-field
djangocms-column
djangocms-file
djangocms-googlemap
djangocms-link
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
easy-thumbnails>=2.7
hiredis
html5lib
lxml
psycopg2-binary
olefile
Pillow
pytz
rcssmin
redis
rjsmin
six>=1.15.0
Unidecode==0.4.21
